*{
    box-sizing: border-box;
}
header{
   
   border: 4px double rgb(0, 0, 0);
    text-align: center;
    padding: 5px;
   background-image: url("https://getwallpapers.com/wallpaper/full/3/2/3/168510.jpg");
   width: 600px;
   display: flex;
   justify-content: center;
    margin: auto;
}
body{
   margin: 0;
   font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: rgb(13, 48, 88);
   
}
.gallery{
    margin: auto;
    padding: 10px;
   display: inline-flex;
   flex-direction: row;
   flex-wrap:wrap;
   justify-content: center;
   text-align: center;
    
    
}
h1{
    color: rgb(247, 248, 248);
}
img{
    width: 500px;
    border-radius: 10px;
    padding: 15px;
}
